@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding: 64px 16px 63px 16px;
}

.password-generator-text {
  color: #817d92;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.password-div {
  background: var(--Dark-Grey, #24232c);
  width: 343px;
  height: 64px;
  margin-top: 16px;
  display: flex;
  gap: 150px;
}

.password-result {
  color: var(--Almost-White, #e6e5ea);
  font-size: 24px;
  font-weight: 700;
  display: flex;
  padding: 17px 0px 0px 16px;
}

.svg {
  margin-top: 20px;
}

.svg:hover {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.main {
  margin-top: 16px;
  background: var(--Dark-Grey, #24232c);
  width: 343px;
  height: 423px;
}

.character-text {
  color: var(--Almost-White, #e6e5ea);
  font-size: 16px;
  font-weight: 700;
}

.character-number {
  color: var(--Neon-Green, #a4ffaf);
  font-size: 24px;
  font-weight: 700;
}

.character {
  display: flex;
  gap: 128px;
  align-items: center;
  padding: 16px 0px 0px 16px;
}

.input {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#range {
  background: linear-gradient(
    90deg,
    #a4ffaf 0%,
    #a4ffaf 50%,
    #18171f 50%,
    #18171f 100%
  );
  /* background: var(--Neon-Green, #a4ffaf); */
  width: 311px;
  height: 8px;
  appearance: none;
}

#range::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  background: var(--Almost-White, #e6e5ea);
  width: 28px;
  height: 28px;
}

#range::-webkit-slider-thumb:hover {
  background-color: var(--Very-Dark-Grey, #18171f);
  border: 2px solid var(--Neon-Green, #a4ffaf);
  cursor: pointer;
}

.main-text {
  color: var(--Almost-White, #e6e5ea);
  font-size: 16px;
  font-weight: 700;
}

.toogle {
  position: relative;
  display: flex;
  gap: 20px;
  margin-left: 16px;
  margin-top: 16px;
}

.parametres-div {
  margin-top: 32px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid var(--Almost-White, #e6e5ea);
  position: absolute;
  background: var(--Dark-Grey, #24232c);
}

#checkbox-input:checked + .custom-checkbox {
  background-color: rgba(164, 255, 175, 1);
  background-image: url(assets/images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.custom-checkbox:hover {
  border: 2px solid var(--Neon-Green, #a4ffaf);
  cursor: pointer;
}

.strength-div {
  width: 311px;
  height: 56px;
  background: #18171f;
  margin: 32px 16px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.strength {
  color: var(--Grey, #817d92);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.medium {
  color: var(--Almost-White, #e6e5ea);
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 8px;
}

.password-strength {
  width: 10px;
  height: 28px;
  border: 2px solid var(--Almost-White, #e6e5ea);
}

.password-strength-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 8px;
  margin-left: 57px;
}

.btn {
  width: 311px;
  height: 56px;
  background: var(--Neon-Green, #a4ffaf);
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* text */
  color: var(--Dark-Grey, #24232c);
}

.generate {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--Dark-Grey, #24232c);
  border: 2px solid var(--Neon-Green, #a4ffaf);
  color: var(--Neon-Green, #a4ffaf);
  cursor: pointer;
}

/* tablet */

@media screen and (min-width: 768px) {
  .password-generator-text {
    font-size: 24px;
  }

  .password-div {
    width: 540px;
    height: 80px;
    display: flex;
    gap: 263px;
    margin-top: 31px;
  }

  .password-result {
    font-size: 32px;
    padding: 19px 0px 0px 32px;
  }

  .svg {
    width: 21px;
    height: 24px;
    margin-top: 28px;
  }

  .main {
    width: 540px;
    height: 528px;
  }

  .character-text {
    font-size: 18px;
  }

  .character-number {
    font-size: 32px;
  }

  .character {
    gap: 263px;
    padding: 24px 32px 0px 32px;
  }

  #range {
    width: 476px;
  }

  .input {
    margin-top: 32px;
  }

  .main-text {
    font-size: 18px;
  }

  .parametres-div {
    margin-top: 42px;
  }

  .toogle {
    gap: 24px;
    margin-left: 32px;
    margin-top: 19px;
  }

  .strength-div {
    width: 476px;
    height: 72px;
    margin: 31px 32px 32px 32px;
  }

  .strength {
    font-size: 18px;
  }

  .medium {
    font-size: 24px;
  }

  .password-strength-div {
    margin-left: 159px;
  }

  .btn {
    width: 476px;
    height: 65px;
  }

  .generate {
    font-size: 18px;
  }

  .arrow-img {
    margin-bottom: 3px;
  }
}
